section.stn-contact
	h2.stn-heading.container Contact
	.container
		//-просто класс добавили, чтобы не писать это в цсс
		//-justify-content-between
		form(action="#!").row.justify-content-between
			//-на брутсрапе - сдвинь на 6 колонок .col-md-push-6
			.col-md-6.order-md-2
				p Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.

				p Linda Newman <br> W325 State Road 123 <br>Mondovi, WI(Wisconsin) 98746-54321 <br>(715) 946 - 1234
			.col-md-5.order-md-1
				.frm-group
					label(for="name") full name
						input(type="text" id="name").frm-control
				.frm-group
					//-в html-5 есть тип емейла для инпута
					label(for="email") email
						input(type="email" id="email").frm-control
			//-textare на всю площаль
			.col-md-12.order-md-3
				.frm-group
					label(for="message") message
					textarea(id="message").frm-control
			//-.col-sm-4 чтобы на мобилке кнопка была маленькая
			.col-sm-4.order-md-4
					button(type="submit").btn-submit message
