footer.site-footer
	.container
		nav
			ul.footer-nav
				li
					a(href="#!") home
				li
					a(href="#!") services
				li
					a(href="#!") portfolio
				li
					a(href="#!") contacts
		//-так обозначается значок копирайта
		p.copyright 2018 &copy