header.site-header
	nav.site-nav
		.container
			a(href='#')
				img(src='./images/logo.png' alt='Blueasy')
			span.main-nav-trigger.trigger-nav &#9776;
			ul.horizontal-nav.trigger-victim
				li
					a(href='#').active Home
				li
					a(href='#') Services
				li
					a(href='#') Features
				li
					a(href='#') Portfolio
				li
					a(href='#') Contact
	.container
		h1.hero-heading 
			span “I’m looking for the unexpected. <br> 
			span I’m looking for things I’ve never seen before.” 

					
					
