section.stn-about
	h2.stn-heading.container Who is john doe?
	.container
		.row
			.col-md-6
				p Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
				p Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
			.col-md-6
				p Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame snaps sugar plum cotton candy chocolate bonbon lemon drops candy canes cotton candy. Cake toffee pie bear claw pastry.
				a(href="#!")
					<i class="fa fa-twitter"></i>
				a(href="#!")
					<i class="fa fa-google-plus"></i>
				a(href="#!")
					<i class="fa fa-dribbble"></i>
				a(href="#!")
					<i class="fa fa-coffee"></i>