div.stn-portfolio
	section.container.tab-wrapper
		ul.horizontal-nav.black-font.tab-menu
			li
				a.active(href='javascript:void(0);') all
			li
				a(href='javascript:void(0);') panoramas
			li
				a(href='javascript:void(0);') portraits
			li
				a(href='javascript:void(0);') macro
			li
				a(href='javascript:void(0);') journal
		h2.stn-heading.black-line portfolio
		.row.thumbs-row
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_1.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_2.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_3.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_4.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_5.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_6.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_7.png')
			.col-sm-6.col-md-3
				a(href="#!")
					img(src='./images/p_8.png')