section.stn-services
	//- задали h2 классу контейнер, чтобы он был расположен слева по макету 
	h2.stn-heading.container Services
	.container
		.row
			//- 4 колоки md-6- ля мобилки, lg-3 для большого экрана
			.col-md-6.col-lg-3
				img(src="./images/s_1.png")
				h3 Coffee
				p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
			.col-md-6.col-lg-3
				img(src="./images/s_2.png")
				h3 Instant			
				p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
			.col-md-6.col-lg-3
				img(src="./images/s_3.png")
				h3 Serious	
				p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
			.col-md-6.col-lg-3
				img(src="./images/s_4.png")
				h3 Frame
				p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.