section.stn-testimonials
	h2.stn-heading.container.black-line testimonials
		span
			<i class="fa fa-quote-right"></i>
	.container
		p Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.
		//-оказывается, такой тег. идет сразу с отступами, хотя этот тег надо было применить ко всему блоку, а автора надо было закинуть в тег cite
		blockquote.stn-quote -Walter White 