section.stn-twitter
	h2.stn-heading.container Twiiter
		//-то есть просто внутрь заголовка закинули и она сама выровнилась
		span
			<i class="fa fa-twitter"></i>
	.container
		.row
			.col-md-11
				p  Unerdwear cookie liquorice. Cake donut cupcake lollipop soufflé candy. Chocolate oat cake <strong>@cheesecake</strong> tootsie roll.