section.stn-video
	h2.stn-heading.container Just default section
	.container
		.row
			.col-md-5
				P  Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
				p  Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
				a.btn-ghost-grey(href="@") Visit me
			.col-md-6.col-md-offset-1.stn-video-col
				.videoWrapper
					//- просто вытащили из поделится на сайте и все
					<iframe src="https://player.vimeo.com/video/235672324?title=0&byline=0&portrait=0&badge=0" width="560" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>