doctype html	
html
	head 
		title Hello!
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		link(rel='stylesheet', href='./css/slick-theme.css', type='text/css' )
		link(rel='stylesheet', href='./css/slick.css', type='text/css' )
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=en"></script>
		script(src='./js/lib.js')
		script(src='./js/build.js')
		

	include ../templates/sections/header.pug
	include ../templates/sections/services.pug
	include ../templates/sections/portfolio.pug
	include ../templates/sections/video.pug
	include ../templates/sections/twitter.pug
	include ../templates/sections/john.pug
	include ../templates/sections/testimonials.pug
	include ../templates/sections/contacts.pug
	include ../templates/sections/footer.pug